.out {
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  background-color: #d9c8b8;
  overflow: scroll;
  .in {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    // height: 100%;
    .historyTitle {
      font-size: 40px;
      margin-bottom: 30px;
      color: #4c686f;
    }
    .unit {
      width: 90vw;
      height: auto;
      background-color: #fff;
      border-radius: 6px;
      padding: 20px 20px;
      margin-bottom: 30px;
      .time {
        width: 100%;
        height: 50px;
        color: #4c686f;
        border-radius: 6px;
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
        margin-bottom: 10px;
        font-size: 16px;
      }
      .lists {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .dish {
          min-width: 250px;
          border-radius: 6px;
          padding: 6px;
          margin: 10px 20px;
          border: 1px solid #a7977f;
          color: #877a6d;
          display: flex;
          //  flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          .top {
            display: flex;
            justify-content: center;
            align-items: center;
            .name {
              font-size: 16px;
              margin-right: 8px;
            }
            .displayName {
            }
          }
          .down {
            // width: 100%;
            // border: 1px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            .price {
              margin: 0 4px;
            }
            .qty {
              margin: 0 4px;
            }
            .size {
              margin: 0 4px;
            }
            .ice {
              margin: 0 4px;
            }
            .sugar {
              margin: 0 4px;
            }
          }
        }
      }
    }
  }
}
