.slogan {
  width: 100vw;
  height: 120px;
  background-image: url("./image/brown.jpeg");
  background-size: cover;
  background-position: right;
  position: fixed;
  top: 60px;
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 60px;
  overflow: hidden;
  .sideBar {
    width: 350px;
    min-width: 300px;
    height: 100%;
    padding: 150px 20px 0;
    // background-image: url("./image/brown.jpeg");
    background-size: cover;
    background-position: right;
    .choice {
      background-color: #d9c8b8;
      padding: 25px 20px 15px;
      border-radius: 8px;
      form {
        margin-bottom: 20px;
        input {
          width: 100%;
          height: 40px;
          border-radius: 20px;
          border: 1px solid #686666;
          font-size: 15px;
          padding-left: 20px;
        }
      }
      .categoryContainer {
        border-radius: 6px;
        background-color: #d9c8b8;
        color: #686666;
        .categorySubject {
          border-bottom: 1px solid #686666;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0 6px 0;
          letter-spacing: 3px;
        }
        .category {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 15px 0;
          .categoryMiddle {
            //  color: #686666;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .categoryInner {
            height: 40px;
            display: flex;
            align-items: center;
            .checkBox {
              width: 20px;
              height: 20px;
              margin-right: 15px;
              border: 1px solid #686666;
              border-radius: 6px;
              margin-left: 15px;
              cursor: pointer;
              // background-image: url("./image/check.svg");
            }
            .categoryName {
              letter-spacing: 2px;
              // color: #686666;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
  .stores {
    width: 100%;
    padding: 150px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background-size: cover;
    background-position: right;
    .store {
      width: 250px;
      height: 280px;
      border-radius: 8px;
      box-shadow: 5px 5px 10px rgb(196, 190, 190);
      overflow: hidden;
      margin-right: 30px;
      margin-bottom: 30px;
      cursor: pointer;
      .top {
        img {
          width: 250px;
          height: 150px;
        }
      }
      .down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        .title {
          margin-bottom: 10px;
        }
        .remark {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          //  align-items: center;
          .timeOuter {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            .timeIcon {
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 15px;
                height: 15px;
              }
            }
            .time {
              font-size: 12px;
              color: #696363db;
              margin-bottom: 5px;
            }
          }
          .phoneOuter {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            .phoneIcon {
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: transparent;
              }
            }
            .phone {
              font-size: 12px;
              color: #696363db;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .slogan {
    display: none;
  }
  .outer {
    flex-direction: column;
    .sideBar {
      width: 100%;
      height: 130px;
      padding: 0;
      .choice {
        background-image: url("./image/brown.jpeg");
        border-radius: 0;
        color: #fff;
        form {
          margin-bottom: 0;
          margin: 0 30px;
        }
        .categoryContainer {
          border: none;
          background-color: transparent;
          color: #fff;
          .categorySubject {
            display: none;
          }
          .category {
            overflow-x: scroll;
            justify-content: stretch;
            flex-direction: row;
            .categoryMiddle {
              display: none;
            }
            .categoryInner {
              padding: 0 30px;
              .checkBox {
                margin-right: 5px;
                margin-left: 0;
                border: 1px solid #fff;
              }
            }
          }
        }
      }
    }
    .stores {
      justify-content: center;
      padding: 20px 10px;

      .store {
        width: 100%;
        max-width: 300px;
        margin-right: 10px;
        margin-left: 10px;
        .top {
          img {
            width: 100%;
          }
        }
        .down {
        }
      }
    }
  }
}
