.outer {
  position: fixed;
  top: 60px;
  background-image: url("./image/background.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    width: 90%;
    height: 70%;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    .min {
      background-image: url("./image/brown.jpeg");
      background-size: cover;
      overflow: hidden;
      border-radius: 6px;
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.8s;
      .greeting {
        color: #fff;
        font-size: 30px;
        margin-bottom: 100px;
      }
      .signinBtn {
        margin-bottom: 20px;
      }
      .signinBtn,
      .signoutBtn {
        width: 120px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 15px;
        color: #fff;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          border: none;
          background-color: #fff;
          color: rgb(43, 24, 19);
        }
      }
    }
    .max {
      //  border: 1px solid red;
      width: 65%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      transition: all ease-in-out 0.8s;
      .titel {
        color: rgb(43, 24, 19);
        font-size: 30px;
        margin-bottom: 50px;
      }
      .input {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          width: 100%;
          input {
            width: 100%;
            height: 35px;
            border-radius: 8px;
            padding: 3px 15px;
            font-size: 15px;
            margin-bottom: 20px;
          }
        }
        .account {
          width: 100%;
          input {
            width: 100%;
            height: 35px;
            border-radius: 8px;
            padding: 3px 15px;
            font-size: 15px;
            margin-bottom: 20px;
          }
        }
        .password {
          width: 100%;
          input {
            width: 100%;
            height: 35px;
            border-radius: 8px;
            padding: 3px 15px;
            font-size: 15px;
            margin-bottom: 50px;
          }
        }
        button {
          width: 100px;
          height: 36px;
          border-radius: 18px;
          border: none;
          background-color: rgb(67, 24, 22);
          color: #fff;
          cursor: pointer;
          &:hover {
            border: 2px solid rgb(67, 24, 22);
            background-color: #fff;
            color: rgb(67, 24, 22);
          }
        }
      }
    }
  }
}

// .outer {
//   margin-top: 60px;
//   width: 100vw;
//   height: 100vh;
//   .inner {
//     .login {
//       width: 100%;
//       height: 50vh;
//       border: 2px solid red;
//       display: flex;
//       padding: 50px 20px;

//       .text {
//         width: 40%;
//         height: 100%;
//         background-color: #70493c;
//         writing-mode: vertical-lr;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 50px;
//         letter-spacing: 50px;
//         color: #fff;
//         border-radius: 10px;
//       }
//       .typing {
//         width: 60%;
//         height: 100%;
//         border: 1px solid black;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         .account {
//           width: 100%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           margin-bottom: 20px;
//           input {
//             width: 60%;
//             height: 40px;
//             border: 1px solid #666262;
//             border-radius: 6px;
//             padding: 0 20px;
//             font-size: 20px;
//           }
//         }
//         .password {
//           width: 100%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           margin-bottom: 20px;
//           input {
//             width: 60%;
//             height: 40px;
//             border: 1px solid #666262;
//             border-radius: 6px;
//             padding: 0 20px;
//             font-size: 20px;
//           }
//         }
//         .fbLogin {
//           width: 70%;
//           height: 40px;
//           border-radius: 35px;
//           background-color: #3b5998;
//           color: #fff;
//           padding: 5px 20px;
//           text-align: center;
//           margin-bottom: 20px;
//           cursor: pointer;
//         }
//         button {
//           width: 70%;
//           height: 40px;
//           border: none;
//           background-color: #6ab04c;
//           border-radius: 35px;
//           color: #fff;
//           margin-bottom: 20px;
//         }
//       }
//     }
//     .signin {
//       width: 100%;
//       height: 50vh;
//       border: 2px solid red;
//       display: flex;
//       padding: 50px 20px;
//       .typing {
//         width: 60%;
//         height: 100%;
//         border: 1px solid black;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         .name {
//           width: 100%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           margin-bottom: 20px;
//           input {
//             width: 60%;
//             height: 40px;
//             border: 1px solid #666262;
//             border-radius: 6px;
//             padding: 0 20px;
//             font-size: 20px;
//           }
//         }
//         .account {
//           width: 100%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           margin-bottom: 20px;
//           input {
//             width: 60%;
//             height: 40px;
//             border: 1px solid #666262;
//             border-radius: 6px;
//             padding: 0 20px;
//             font-size: 20px;
//           }
//         }
//         .password {
//           width: 100%;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           margin-bottom: 20px;
//           input {
//             width: 60%;
//             height: 40px;
//             border: 1px solid #666262;
//             border-radius: 6px;
//             padding: 0 20px;
//             font-size: 20px;
//           }
//         }
//         button {
//           width: 70%;
//           height: 40px;
//           border: none;
//           background-color: #6ab04c;
//           border-radius: 35px;
//           color: #fff;
//         }
//       }
//       .text {
//         width: 40%;
//         height: 100%;
//         background-color: #70493c;
//         writing-mode: vertical-lr;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         font-size: 50px;
//         letter-spacing: 50px;
//         color: #fff;
//         border-radius: 10px;
//       }
//     }
//   }
// }
