// Main
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
}
.topSide {
  width: 100vw;
  height: 250px;
  position: fixed;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  background-image: radial-gradient(circle, lightyellow 0%, transparent 100%),
    radial-gradient(circle at top, #f29635 0%, transparent 100%),
    radial-gradient(circle at bottom, #cf531a 0%, transparent 100%),
    radial-gradient(circle at right, #730e00 0%, transparent 100%),
    radial-gradient(circle at left, #703819 0%, transparent 100%),
    radial-gradient(circle at center, red 0%, transparent 100%);
  .title {
    border: 2px dotted #70493c;
    color: #70493c;
    border-radius: 6px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 6px 10px;
    letter-spacing: 2px;
  }
  .detail {
    color: #70493c;
    .time {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
    .phone {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
    .address {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}
.downSide {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  padding-top: 30px;
  overflow: scroll;
}
// Store
.store {
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #eb4d4b;
  color: #eb4d4b;
  // color: #44240f;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    background-color: #eb4d4b;
    color: #ffffff;
  }
}
@media (max-width: 500px) {
  .topSide {
    padding-left: 20px;
    padding-right: 20px;
  }
  .store {
    width: 230px;
  }
}
