// Main
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
}
.leftSide {
  width: 40vw;
  height: 100vh;
  // background-image: radial-gradient(circle, lightyellow 0%, transparent 100%),
  //    radial-gradient(circle at top, lightblue 0%, transparent 100%),
  //    radial-gradient(circle at bottom, lightgreen 0%, transparent 100%),
  //    radial-gradient(circle at right, lightpink 0%, transparent 100%),
  //    radial-gradient(circle at left, NavajoWhite 0%, transparent 100%);
  background-image: radial-gradient(circle, lightyellow 0%, transparent 100%),
    radial-gradient(circle at top, #f29635 0%, transparent 100%),
    radial-gradient(circle at bottom, #cf531a 0%, transparent 100%),
    radial-gradient(circle at right, #730e00 0%, transparent 100%),
    radial-gradient(circle at left, #703819 0%, transparent 100%),
    radial-gradient(circle at center, red 0%, transparent 100%);
}
.rightSide {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
// Store
.store {
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #eb4d4b;
  color: #eb4d4b;
  margin-bottom: 30px;
  cursor: pointer;
}
