.main {
  //    border: 5px solid red;
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  //    overflow: scroll;
  header {
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: stretch;
    position: fixed;
    top: 60px;
    color: #70493c;
    background-image: radial-gradient(circle, lightyellow 0%, transparent 100%),
      radial-gradient(circle at top, #f29635 0%, transparent 100%),
      radial-gradient(circle at bottom, #cf531a 0%, transparent 100%),
      radial-gradient(circle at right, #730e00 0%, transparent 100%),
      radial-gradient(circle at left, #703819 0%, transparent 100%),
      radial-gradient(circle at center, red 0%, transparent 100%);

    .detail {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .title {
        flex-grow: 1;
        text-align: center;
        padding: 20px 0;
      }
      .miniDetail {
        flex-grow: 5;
        display: flex;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        div {
          .time,
          .phone,
          .address {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .image {
      flex-grow: 1;
      width: 50vw;
      max-width: 350px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .selectSpace {
    margin-top: 310px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .together {
      width: 150px;
      height: 60px;
      border-radius: 6px;
      background-color: #f9ca24;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 30px;
      bottom: 120px;
      transition: all ease 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 5px 5px 10px rgba(88, 85, 85, 0.418);
        right: 35px;
        bottom: 125px;
      }
    }
    .cartBtn {
      width: 150px;
      height: 60px;
      border-radius: 6px;
      background-color: #f9ca24;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: fixed;
      right: 30px;
      bottom: 30px;
      transition: all ease 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 5px 5px 10px rgba(88, 85, 85, 0.418);
        right: 35px;
        bottom: 35px;
      }
      &:hover > span {
        border-radius: 2px;
        transform: rotate(360deg);
        transition: all ease 0.6s;
      }
      &:not(:hover) > span {
        transform: rotate(-360deg);
        transition: all ease 0.6s;
      }
      span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(242, 73, 69);
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        position: absolute;
        top: -5px;
        right: -5px;
      }
      .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        img {
          width: 20px;
          margin-right: 5px;
        }
      }
      .totalPrice {
        color: #ffffff;
        font-size: 12px;
        &:before {
          content: "$";
          margin-right: 5px;
          color: #ffffff;
        }
      }
    }
  }
}
.teamBuyingPopup {
  background-color: rgba(87, 87, 87, 0.651);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .teamBuyingPopupInner {
    background-color: #70493c;
    width: 90vw;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .link {
      width: 80%;
      height: 50px;
      background-color: #ffffff;
      border-radius: 6px;
      margin-bottom: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 15px;
    }
    .copyLink {
      width: 90%;
      height: 50px;
      background-color: #916153b7;
      border-radius: 6px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
      letter-spacing: 3px;
      color: #ffffff;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        background-color: #a56e5db7;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 22px;
      }
    }
  }
}

// <Meal />
.meal {
  margin: 0;
  width: 250px;
  border: 1px solid #ffbe76;
  color: #f0932b;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: #f0932b;
    color: #ffffff;
  }
  p {
    text-align: center;
    color: #f0932b;

    &:hover {
      background-color: #f0932b;
      color: #ffffff;
    }
  }
}
// <MealPoppup />
.outer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(123, 123, 123, 0.5);
  position: fixed;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(109, 105, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px;
    color: #70493c;
    .name {
      font-size: 30px;
      margin-bottom: 30px;
    }
    .qty {
      width: 200px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      border-top: 1px solid #703819;
      border-bottom: 1px solid #703819;
      padding-top: 6px;
      padding-bottom: 6px;
      .number {
        width: 60px;
        height: 30px;
        text-align: center;
        font-size: 20px;
      }
      .minus,
      .add {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        border: 2px solid #70493c;
        cursor: pointer;
        &:hover {
          background-color: #70493c;
          color: #ffffff;
        }
      }
    }
    .subTotal {
      margin-bottom: 50px;
      &:after {
        content: "元";
        margin-left: 10px;
      }
    }
    .addCartBtn {
      width: 80%;
      color: #70493c;
      background-color: #ffffff;
      padding: 10px 20px;
      border-radius: 8px;
      border: 1px solid #70493c;
      font-size: 20px;
      transition: all ease 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #70493c;
        color: #ffffff;
        position: relative;
        bottom: 3px;
        box-shadow: 0 5px 10px black;
      }
    }
  }
}
@media (max-width: 800px) {
  .image {
    display: none;
  }
}
// @media (max-width: 500px) {
//    .inner {
//       width: 10px;
//    }
// }
